{% extends 'base.html' %}
{% load static %}

{% block title %}
Uncertain Alignments - {{log_name}} - Variant {{variant_name}}
{% endblock %}

{% block content  %}

<style>
img {
    max-width: 100%;
    max-height: 100%;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

<div class="container-fluid">
    <h3 class="mt-4" style="color:#00529F;">Uncertain Alignments - {{log_name}}</h3>
    <div style="display: flex;">
        <div style="width: 200px;">
           <br>
            <ul>
                {% for id_var, size, n_events in variants %}
                <li class="list-group-item list-group-item-action bg-light"><a href="variant/{{id_var}}">Variant {{id_var}}</a> <br> <small>{{size}} trace(s) <br> {{n_events}} event(s)</small></li>
                {% endfor %}
            </ul>
        </div>
        <div style="flex-grow: 1; margin: 30px;">
            <div style="height: 300px">
                <div style="width: 33%; float: left;">
                    <h4 style="color:#00529F;">Process Model</h4>
                    <img src="{% static image_model %}">
                    <h4 style="color:#00529F;">Behavior Net</h4>
                    <img src="{% static image_bn %}">
                    <h4 style="color:#00529F;">Best Alignment</h4>
                    <table>
                        <tr>
                            {% for logmove in lower_bound_logmoves %}
                                <td>{{logmove}}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            {% for logmove in lower_bound_modelmoves %}
                                <td>{{logmove}}</td>
                            {% endfor %}
                        </tr>
                    </table>
                    Alignment cost: {{cost_lower_bound}}
                    <h4 style="color:#00529F;">Worst Alignment</h4>
                    <table>
                        <tr>
                            {% for logmove in upper_bound_logmoves %}
                                <td>{{logmove}}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            {% for logmove in upper_bound_modelmoves %}
                                <td>{{logmove}}</td>
                            {% endfor %}
                        </tr>
                    </table>
                    Alignment cost: {{cost_upper_bound}}
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}

{% block script %}


  <script>
    <!--var token = '{{csrf_token}}';-->
   <!--$(document).ready(function(){-->

    <!--$("select.custom-select").change(function(){-->
        <!--var selectedlog = $(this).children("option:selected").val();-->
        <!--$.ajax({-->
          <!--headers: { "X-CSRFToken": token },-->
          <!--type: "POST",-->
          <!--url: "upload_eventlog",-->
          <!--data: { log_name: selectedlog},-->
          <!--dataType:'json',-->
        <!--}).done(function(result) {-->
           <!--no_trace = result.log_attributes.no_traces-->
           <!--$('#no_trace').text("No of traces: " + no_trace)-->

           <!--no_event = result.log_attributes.no_events-->
           <!--$('#no_event').text("No of events: " + no_event)-->
        <!--});-->
        <!--});-->
    <!--});-->

    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
    });

  </script>




{% endblock %}