<ul class="metismenu" id="menu-bar">
    <li class="menu-title">Navigation</li>
    <li>
        <a href="/dashboard/">
            <i class='uil uil-home-alt'></i>
            <span> Dashboard </span>
        </a>
    </li>
    <li class="menu-title">Algorithms</li>
    <li>
        <a href="javascript: void(0);">
            <i class='uil uil-constructor'></i>
            <span> Process Discovery </span>
            <span class="menu-arrow"></span>
        </a>
        <ul class="nav-second-level" aria-expanded="false">
            <li>
                <a href="udfg.html">UDFG</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="javascript: void(0);">
            <i class='uil uil-adjust-circle'></i>
            <span> Conformance Checking </span>
            <span class="menu-arrow"></span>
        </a>
        <ul class="nav-second-level" aria-expanded="false">
            <li>
                <a href="/alignments/">Alignments</a>
            </li>
        </ul>
    </li>
</ul>