{% load static %}

<!-- Topbar Start -->
<div class="navbar navbar-expand flex-column flex-md-row navbar-custom">
    <div class="container-fluid">
        <!-- LOGO -->
        <a href="" class="navbar-brand mr-0 mr-md-2 logo">
            <span class="logo-lg">
                <!-- <img src="{% static 'images/logo.png' %}" alt="" height="24" /> -->
                <span style = "font-family:garamond;font-style: italic;" class="d-inline h3 ml-1 text-logo"><sub>?</sub>PROVED<sup>!</sup></span>
            </span>
            <span class="logo-sm">
                <!-- <img src="{% static 'images/logo.png' %}" alt="" height="24" /> -->
                <span style = "font-family:garamond;font-style: italic;" class="d-inline h3 ml-1 text-logo"><sub>?</sub>P<sup>!</sup></span>
            </span>
        </a>

        <ul class="navbar-nav bd-navbar-nav flex-row list-unstyled menu-left mb-0">
            <li class="">
                <button class="button-menu-mobile open-left disable-btn">
                    <i data-feather="menu" class="menu-icon"></i>
                    <i data-feather="x" class="close-icon"></i>
                </button>
            </li>
        </ul>

    </div>

</div>
<!-- end Topbar -->