{% extends 'base.html' %}

{% block content  %}



<div class="container-fluid">
    <h3 class="mt-4" style="color:#00529F;">Petri Nets</h3>
       <br>
    <div class="row">
      <div class=" col-sm-6 col-md-7 col-lg-8">
            <form  name="load" action="" method = "POST" enctype="multipart/form-data">
                {% csrf_token %}

                <p>Petri net: <input type = "file" value="fileupload" name = "petri_net" /></p>
                <p><input type = "submit" class="btn btn-primary mb-2" value = "Upload PetriNet" name = "uploadButton" id ='submitresPN' /></p>
                <input type="hidden" name="targetPage" value="{{target_page}}"/>

            </form>
      </div>
    </div>

    <br>
    <div class="row">
      <div class=" col-sm-6 col-md-7 col-lg-8">
            <form  name="choice" action="" method = "POST">
                {% csrf_token %}

                <select name="net_list" class="custom-select" size="10">
                    {% for petrinet in petrinet_list %}
                        <option value="{{petrinet}}">{{petrinet}}</option>
                    {% endfor %}
                </select>

                <input style="margin-top: 10px;" data-toggle="tooltip" data-placement="top" title="Set as the input" type = "submit" class="btn btn-success" value = "Set" name= "setButton" id ='setButton' />
                <input style="margin-top: 10px;" type = "submit" class="btn btn-danger" value = "Delete" name= "deleteButton" id ='deleteButton'/>
                <input style="float: right; margin-top: 10px;" type = "submit" class="btn btn-info" value = "Download" name= "downloadButton" id ='downloadButton'/>
                <input type="hidden" name="targetPage" value="{{target_page}}"/>


            </form>
      </div>
    </div>
      <br>

     <div class="row">
      <div class=" col-sm-6 col-md-7 col-lg-8">
        {% if net_name %}
          <p> {{net_name}} has been set as the input Petri net. </p>
        {% endif %}

      </div>
    </div>
  </div>



{% endblock %}

{% block script %}


  <script>
    <!--var token = '{{csrf_token}}';-->
   <!--$(document).ready(function(){-->

    <!--$("select.custom-select").change(function(){-->
        <!--var selectednet = $(this).children("option:selected").val();-->
        <!--$.ajax({-->
          <!--headers: { "X-CSRFToken": token },-->
          <!--type: "POST",-->
          <!--url: "upload_petrinet",-->
          <!--data: { net_name: selectednet},-->
          <!--dataType:'json',-->
        <!--}).done(function(result) {-->
           <!--no_trace = result.log_attributes.no_traces-->
           <!--$('#no_trace').text("No of traces: " + no_trace)-->

           <!--no_event = result.log_attributes.no_events-->
           <!--$('#no_event').text("No of events: " + no_event)-->
        <!--});-->
        <!--});-->
    <!--});-->

    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
    });

  </script>




{% endblock %}