{% extends 'base.html' %}
{% load static %}

{% block title %}
Dashboard - {{log_name}}
{% endblock %}

{% block content  %}

<style>
img {
    max-width: 100%;
    max-height: 100%;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

<div class="container-fluid">
    <h3 class="mt-4" style="color:#00529F;">Uncertain Log Explorer - {{log_name}}</h3>
    <div style="display: flex;">
        <div style="width: 200px;">
           <br>
            <ul>
                {% for id_var, size, n_events in variants %}
                <li class="list-group-item list-group-item-action bg-light"><a href="/dashboard/variant/{{id_var}}">Variant {{id_var}}</a> <br> <small>{{size}} trace(s) <br> {{n_events}} event(s)</small></li>
                {% endfor %}
            </ul>
        </div>
        <div style="flex-grow: 1; margin: 30px;">
            <div style="height: 300px">
                <div style="width: 33%; float: left;">
                    <h4 style="color:#00529F;">Uncertain Log Statistics</h4>
                    <ul>
                        <li><strong>Num. events: </strong>{{log_len}}</li>
                        <li><strong>Num. traces: </strong>{{log|length}}</li>
                        <li><strong>Average trace length: </strong>{{avg_trace_len}} events</li>
                        <li><strong>Num. variants: </strong>{{variants|length}}</li>
                    </ul>
                </div>
                <div style="width: 33%; float: left;">
                    <h4 style="color:#00529F;">Uncertain Events</h4>
                    <img id="event-ratio-img" src="{% static event_ratio_graph %}">
                </div>
                <div style="width: 33%; float: left;">
                    <h4 style="color:#00529F;">Uncertain Traces</h4>
                    <img id="trace-ratio-img" src="{% static trace_ratio_graph %}">
                </div>
            </div>
            <h4 style="color:#00529F;">Activities</h4>
            <table>
              <tr>
                <th>Activity</th>
                <th>Occurrence (min)</th>
                <th>Occurrence (max)</th>
                <th>Occurrence (min)(relative)</th>
                <th>Occurrence (max)(relative)</th>
              </tr>
                {% for freq_min, freq_max, freq_min_rel, freq_max_rel, activity in activities_table %}
              <tr>
                <td>{{activity}}</td>
                <td>{{freq_min}}</td>
                <td>{{freq_max}}</td>
                <td>{{freq_min_rel}}%</td>
                <td>{{freq_max_rel}}%</td>
              </tr>
                {% endfor %}
            </table>
            <br>
            <br>
            <h4 style="color:#00529F;">Start Activities</h4>
            <table>
              <tr>
                <th>Activity</th>
                <th>Occurrence (min)</th>
                <th>Occurrence (max)</th>
                <th>Occurrence (min)(relative)</th>
                <th>Occurrence (max)(relative)</th>
              </tr>
                {% for freq_min, freq_max, freq_min_rel, freq_max_rel, activity in start_activities_table %}
              <tr>
                <td>{{activity}}</td>
                <td>{{freq_min}}</td>
                <td>{{freq_max}}</td>
                <td>{{freq_min_rel}}%</td>
                <td>{{freq_max_rel}}%</td>
              </tr>
                {% endfor %}
            </table>
            <br>
            <br>
            <h4 style="color:#00529F;">End Activities</h4>
            <table>
              <tr>
                <th>Activity</th>
                <th>Occurrence (min)</th>
                <th>Occurrence (max)</th>
                <th>Occurrence (min)(relative)</th>
                <th>Occurrence (max)(relative)</th>
              </tr>
                {% for freq_min, freq_max, freq_min_rel, freq_max_rel, activity in end_activities_table %}
              <tr>
                <td>{{activity}}</td>
                <td>{{freq_min}}</td>
                <td>{{freq_max}}</td>
                <td>{{freq_min_rel}}%</td>
                <td>{{freq_max_rel}}%</td>
              </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>



{% endblock %}

{% block script %}


  <script>
    <!--var token = '{{csrf_token}}';-->
   <!--$(document).ready(function(){-->

    <!--$("select.custom-select").change(function(){-->
        <!--var selectedlog = $(this).children("option:selected").val();-->
        <!--$.ajax({-->
          <!--headers: { "X-CSRFToken": token },-->
          <!--type: "POST",-->
          <!--url: "upload_eventlog",-->
          <!--data: { log_name: selectedlog},-->
          <!--dataType:'json',-->
        <!--}).done(function(result) {-->
           <!--no_trace = result.log_attributes.no_traces-->
           <!--$('#no_trace').text("No of traces: " + no_trace)-->

           <!--no_event = result.log_attributes.no_events-->
           <!--$('#no_event').text("No of events: " + no_event)-->
        <!--});-->
        <!--});-->
    <!--});-->

    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
    });

  </script>




{% endblock %}